package views

import "github.com/eusebioleite/selfin/views/base"

templ Dashboards() {
	@base.App(base.Content(dashboardsContent()))
}

templ dashboardsContent() {
	<h6>Não há nada aqui ainda!</h6>
}
